.cardForm {
    padding: 3em;
    margin: 3em;
}

.registerHeader{
    margin-bottom: 2em;
}

.signInButton {
    margin-top: 2em;
    margin-bottom: 2em;
  }

.formControl {
    margin: 1em;
}

.formLabel {
    margin-bottom: 1em;
    margin-top: 1em;
}

.inputContainer {
    max-width: 50%;
    min-width: 300px;
    margin: 0 auto 25px auto;
}

.aLink {
    color: black;
    font-size: 1rem;
    text-decoration: underline;
}

.aLink:hover {
    color: rgb(158, 109, 168);
    font-size: 1rem;
    text-decoration: underline;
}


