.cardForm {
    padding: 3em;
    margin-right: 10em;
    width: 800px;
    height: fit-content;
}

.header {
    padding-left: 1rem;
}

.formButton {
    display: block;
    width: 97%;
    background-color: #2196F3;
    color: white;
    margin: auto;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    border: none;
    margin-top: 1rem;
}

.formButton:hover {
    background-color: #2196F3;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
