.formButton {
    display: block;
    width: 97%;
    background-color: #2196F3;
    color: white;
    margin: auto;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    border: none;
    margin-top: 1rem;
    margin-bottom: 2em;
}

.formButton:hover {
    background-color: #2196F3;
}

.reviewButton {
    background-color: #2196F3;
    color: white;
    border-style: none;
    cursor: pointer;
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}

.reviewButton:hover {
    background-color: #2196F3;
}

.form {
    margin-bottom: 2em;
}

.bookAvgRating {
    font-size: 0.8rem;
    padding-left: 10px;
}

.bookRating {
    display: flex;
    justify-content: left;
    align-items: center;
}

.reactStars {
    padding-left: 16px;
    padding-top: 16px;
}

.hl {
    border-bottom: 1px solid #607d8b2e;
    width: 100%;
    margin-left: 5px;
}

.reviewHeading {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
}