body {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.homePageBody {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

.bookSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10%;
    flex-wrap: no-wrap;
    height: 500px;
    padding: 10px;
    box-shadow: 5px 5px 5px #88888821;
}

.bookSectionBooks {
    display: flex;
    width: 100%;
    height: 80%;
    flex-wrap: no-wrap;
    justify-content: space-evenly;
}

.bookSectionTitle {
    width: 100%;
    height: 20%;
}

.bookCard {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}

.bookCover {
    height: 60%;
}

.bookCardSummary {
    height: 40%;
}

.bookCover > img {
    height: 100%;
}

.bookCardSummary > h4 {
    margin-bottom: 0px
}

.bookPrice {
    display: flex;
    justify-content: center;
}

.bookPrice > p {
    padding: 5px;
}

.bookRating {
    display: flex;
    justify-content: center;
}