#aboutUs > p {
    font-size: 13px;
}

#aboutUs {
    width: 70%;
    padding: 10px;
    text-align: left;
}

#aboutUsStats {
    width: 20%;
    padding: 10px;
}

.statsDiv {
    background-color: #8080803b;
    padding: 10px;
    margin-bottom: 5px;
}

.statsDiv > h3 {
    margin-bottom: 0px;
}

.statsDiv > h5 {
    margin-top: 5px;
}