.bookSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10%;
    flex-wrap: no-wrap;
    height: fit-content;
    padding: 10px;
    box-shadow: 5px 5px 5px #88888821;
    background-color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}

.bookSectionBooks {
    display: flex;
    width: 100%;
    height: 85%;
    flex-wrap: no-wrap;
    justify-content: space-evenly;
    margin-top: 0px;
}

.bookSectionTitle {
    width: 100%;
    height: 15%;
    margin-bottom: 0px;
    margin-left: 10px;
}

.bookSectionTitle > h3 {
    text-align: left
}