.cartRow {
    display: flex;
    flex-direction: row;
}

.rowQty {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-start;
    justify-content: end;
}

.removeButton {
    padding: 10px;
    background-color: #E91E63;
    border: none;
    border-radius: 3px;
    color: white;
}

.checkoutButton {
    padding: 10px;
    background-color: #2196F3;
    border: none;
    border-radius: 3px;
    color: white;
    width: 30%;
    margin-left: 67.5%;
    margin-bottom: 20px;
    margin-right: 2.5%;
}

.hl {
    border-bottom: 1px solid #607d8b2e;
    width: 100%;
    margin-left: 5px;
    margin-bottom: 20px;
}