.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.homePageBody {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
}