.bookContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    flex-wrap: no-wrap;
    height: fit-content;
    padding: 10px;
    box-shadow: 5px 5px 5px #88888821;
    background-color: white;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}

.summaryContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.summaryRow {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.summaryLeftCell {
    width: 60%;
}

.summaryRightCell {
    width: 40%;
}

.paymentMethodContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: left;
}